/* STYLE SECTIONING TAGS */
body {
  font-family: "Berkshire Swash", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-image: linear-gradient(mistyrose,lavender);
}

/* STYLE TEXT */
h1 {
  font-style: italic;
  color: royalblue;
  text-align:center;
  font-size: 10 pt;
  text-decoration:underline;
}

h2 {
  margin-top: 2em; 
  color: royalblue;
  text-shadow:black;
  text-align:center;
  text-decoration:underline;
}
p{
  text-align:center;
}

/* STYLE FLEX CONTAINER */
.question {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
  
/* STYLE FLEX ITEM */
.answer-choice {
  margin: 5px;
  text-align: center;
}

/* STYLE IMAGES */
.answer-choice img {
  height: 10em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* STYLE BUTTON */
button { 
  margin-top: 10px;
  font-family:Berkshire Swash;
  font-size:16px;
  width:100%;
  color:lavender;
  background-color:darkorchid;
}
